*.pyc
*.out
log/*
addons/*.pyc
tools.py
dong.py
test/*
.idea/
static/pic/*
static/cdn/*
static/css/*
static/js/*
static/img/*
stop.sh
restart.sh
start.sh
.idea/*
initial_data.py
*.swp
addons/config.py
addons/backup/*
env
