<div class="footer">
    <a href="http://api.gotit.asia" target="_blank">API</a>&nbsp;
    Power by <a href="http://webpy.org/" target="_blank">web.py</a>&nbsp;
    <a href="http://sdutlinux.org" target="_blank">SLUG</a>&nbsp;
    <a class="logoimg" href="/zheng"><img src="http://7d9koh.com1.z0.glb.clouddn.com/ico/favicon.png" alt="Logo"/></a><br/>
    Author:<a href="http://zhangweide.cn" target="_blank">zhwei</a>&nbsp;
    Version:2.0
    <div style="display: none;">
    <!-- baidu sitecenter   -->
        <script type="text/javascript">
            var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
            document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F8798cad9d47e876ea6c4f4ce5ff5fe5b' type='text/javascript'%3E%3C/script%3E"));
        </script>
    <!-- baidu sitecenter   -->
    </div>
</div>
<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="http://7d9koh.com1.z0.glb.clouddn.com/js/jquery.min.js"></script>
<script src="http://7d9koh.com1.z0.glb.clouddn.com/js/bootstrap.min.js"></script>
