    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="keywords" content="成绩查询,校外,正方教务系统,四六级成绩查询,学分绩点,考试时间地点,课表,本学期,查询">
    <meta name="description" content="山东理工大学校外成绩查询,学分绩点查询,四六级成绩查询.">
    <meta name="author" content="ma6174,zhwei">
    <meta property="wb:webmaster" content="0c9867e1232b2dd4" />

    <!-- Le styles -->
    {%- include "includes/css.html" -%}
    <script language="javascript">
        if (self!=top) window.top.location.replace(self.location);
    </script>

    {%- block head -%}{%- endblock -%}

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://7d9koh.com1.z0.glb.clouddn.com/js/html5shiv.min.js"></script>
    <![endif]-->
    <!-- Favicons -->
    <link rel="apple-touch-icon-precomposed" sizes="256x256" href="http://7d9koh.com1.z0.glb.clouddn.com/ico/favicon.png">
    <link rel="shortcut icon" href="http://7d9koh.com1.z0.glb.clouddn.com/ico/favicon.png">

