{% import 'form.html' as form %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>管理界面</title>
    {%- include  "includes/head.html" -%}
    <link rel="stylesheet" href="http://7d9koh.com1.z0.glb.clouddn.com/jquery.qeditor.css" />
    <link rel="stylesheet" href="http://7d9koh.com1.z0.glb.clouddn.com/font-awesome.min.css" />
    <!-- Le styles -->
    <style>
    html, body {
        background-color: #ffffff;
        padding-top: 60px;
        padding-bottom: 40px;
    }
    .sidebar-nav {
      padding: 9px 0;
    }
    .qeditor_preview {
      min-height: 300px;
    }
    #editor {
      height:300px;
    }
    @media (max-width: 980px) {
      /* Enable use of floated navbar text */
      .navbar-text.pull-right {
        float: none;
        padding-left: 5px;
        padding-right: 5px;
      }
    }
  </style>
  </head>

  <body>

    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="http://{{ domains.main }}">Gotit</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav">
              <li><a href="/panel">后台首页</a></li>
              <li ><a href="/analytics"><i class="glyphicon glyphicon-time"></i>&nbsp;数据统计</a></li>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="glyphicon glyphicon-plus"></i>&nbsp;内容管理<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="/o/ls/wxcomment"><i class="glyphicon glyphicon-thumbs-up"></i>&nbsp;微信留言</a></li>
                  <li><a href="/o/ls/donate"><i class="glyphicon glyphicon-usd"></i>&nbsp;捐赠者</a></li>
                  <li><a href="/o/ls/notice"><i class="glyphicon glyphicon-send"></i>&nbsp;网站动态</a></li>
                  <li class="divider"></li>
                  <li ><a href="/backup"><i class="glyphicon glyphicon-cloud-upload"></i>网站备份</a></li>
                  <li><a href="/o/ls/developer">开发者Token</a></li>
                </ul>
              </li>
              <li ><a href="/single/info"><strong>Single</strong></a></li>

              <li ><a href="/users"><i class="glyphicon glyphicon-user"></i>用户管理</a></li>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="glyphicon glyphicon-eye-open"></i>&nbsp;网站日志<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li ><a href="/readlog/stderr/1">&nbsp;StdErr</a></li>
                    <li ><a href="/readlog/stdout/1">&nbsp;StdOut</a></li>
                    <li ><a href="/readlog/nginx_error/1">&nbsp;Nginx_Error</a></li>
                    <li ><a href="/readlog/nginx_access/1">&nbsp;Nginx_Access</a></li>
                </ul>
              </li>
              <li ><a href="/de"><i class="glyphicon glyphicon-eye-close"></i>DetailError</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
          </ul>
        </div><!-- /.navbar-collapse -->
    </nav>


    <div class="container">
        <div class="row">
          <div class="col-md-12">
            {%- if alert -%}
            <div class="alert alert-info">
              <p>{{ alert }}</p>
            </div>
            {%- endif -%}
            {% block content %}{% endblock %}
          </div>
        </div>
    </div> <!-- /container -->
    <div id="footer">
      <div class="container" style="text-align: center;">
        <hr>
        <p class="text-muted">Gotit@2014</p>
      </div>
    </div>
    {% include "includes/js.html" %}

    {% block footer %}

    {% endblock %}

  </body>
</html>
