<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>
      {% block title %}
      {% endblock %} Gotit
    </title>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="/static/css/responsive-nav.css">
    <script src="/static/js/responsive-nav.min.js"></script>

  </head>
  <body>

    <div role="navigation" id="foo" class="nav-collapse">
      <ul>
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Projects</a></li>
        <li><a href="#">Blog</a></li>
      </ul>
    </div>

    <div role="main" class="main">
      <a href="#nav" class="nav-toggle">Menu</a>
      <h1>登录成功！</h1>

      <p class="intro">
      </p>
      {% block content %}
      {% endblock %}
    </div>

    <script>
      var navigation = responsiveNav("foo", {customToggle: ".nav-toggle"});
    </script>
    {% block foot %}
    {% endblock %}
  </body>
</html>
