<!DOCTYPE html>
<html lang="en">
<head>
    <title>{%- block title -%}{%- endblock -%}&middot; Got it</title>
    {% include "includes/head.html" %}
    {% block head %}
    {% endblock %}
</head>
<body>
<div class="navbar navbar-default navbar-fixed-top">
    {% include "includes/nav.html" %}
</div>


<div class="container" id="site-body">
    {% if alert %}
    <div class="alert alert-dismissable alert-info">
        <button type="button" class="close" data-dismiss="alert">×</button>
        {{ alert }}
    </div>
    {% endif %}

    <div>
        {% block content -%}{%- endblock %}
    </div>
</div>

{% include "includes/footer.html" %}

{% block foot -%}{%- endblock %}

</body>
</html>
