<!DOCTYPE html>
<html lang="en">
<head>
    <title>{%- block title -%}{%- endblock -%}&middot; Got it</title>
    {% include "includes/head.html" %}
</head>
<body>
<div class="navbar navbar-default navbar-fixed-top">
    {% include "includes/nav.html" %}
</div>


<div class="container" id="site-body">
{#    <div class="alert alert-dismissable alert-info">#}
{#        <button type="button" class="close" data-dismiss="alert">×</button>#}
{#        <strong>Heads up!</strong> This <a href="#" class="alert-link">alert needs your attention</a>, but it's not#}
{#        super important.#}
{#    </div>#}
    <div>
        {% block content -%}{%- endblock %}
    </div>
</div>

{% include "includes/footer.html" %}

<script src="/static/js/stick-up.min.js"></script>
{#<script type="text/javascript">#}
{#    //initializing jQuery#}
{#    jQuery(function ($) {#}
{#        $(document).ready(function () {#}
{#            //enabling stickUp on the '.navbar-wrapper' class#}
{#            $('.navbar-default').stickUp();#}
{#        });#}
{#    });#}
{#</script>#}

{% block foot -%}{%- endblock %}

</body>
</html>
