{% extends "base-index.html" %}

{% block title %}留言{% endblock %}
{% block head %}
    <style>
        html, body {
            background-color: #FFFFFF;
        }
    </style>
{% endblock %}
{% block content %}

    <div class="center col-md-9">

        <!-- Duoshuo Comment BEGIN -->
        <div class="ds-thread"></div>
        <script type="text/javascript">
            var duoshuoQuery = {short_name: "gotit"};
            (function () {
                var ds = document.createElement('script');
                ds.type = 'text/javascript';
                ds.async = true;
                ds.src = 'http://static.duoshuo.com/embed.js';
                ds.charset = 'UTF-8';
                (document.getElementsByTagName('head')[0]
                        || document.getElementsByTagName('body')[0]).appendChild(ds);
            })();
        </script>
        <!-- Duoshuo Comment END -->

    </div>

{% endblock %}
