{% extends "base-index.html" %}
{% block title %}
联系我们
{% endblock %}


{% block nav %}
<li><a href="/">首页</a></li>
<li><a href="/notice.html">公告</a></li>
<li><a href="http://{{ domains.main }}/comment.html">留言</a></li>
<li class="active"><a href="/contact.html">我们</a></li>
{% endblock %}


{% block content %}
<div style="width: 870px; MARGIN-RIGHT: auto;MARGIN-LEFT: auto;">
  <h1>联系我们</h1>
  <br />

  <h3>我们是<a href="http://sdutlinux.org" target="_blank">山东理工大学linux用户组</a></h3>

  <p>如果您对本网站有新的需求或建议,请联系<a href="mailto:zhwei.yes@gmail.com">zhwei</a>,或者前往<a href="http://sdutlinux.org/t/339" target="_blank">http://sdutlinux.org/t/339</a>留言.</p>

  <h3>关于作者</h3>

  <h4><p><a href="http://zhwei.42qu.com" target="_blank">zhwei</a></p></h4>

  <p><strong>QQ:&nbsp;就留三菱伞儿呜呜妖</strong></p>
  <p><strong>Email:&nbsp;<a href="mailto:zhwei@gotit.asia">zhwei@gotit.asia</a></strong></p>
  <p><strong>贡献</strong>:正方教务系统相关查询</p>
  <h4><p><a href="http://www.cnblogs.com/ma6174/" target="_blank">马伟伟</a></p></h4>
  <p><strong>贡献</strong>:学分绩点查询, 四六级成绩查询</p>
</div>
{% endblock %}
