{% extends 'base-index.html' %}

{% block title %}我们为你Got it{% endblock %}

{% block nav %}
<li><a href="/">首页</a></li>
<li><a href="/notice.html">公告</a></li>
<li><a href="/comment.html">留言</a></li>
<li class="active"><a href="/donate.html">赞助</a></li>
{% endblock %}

{% block content %}

<div class="jumbotron">
  <a href="https://me.alipay.com/zhweifcx" target="_blank"><img src="/static/img/alipay.png"></a>
  <p class="lead"></p>
</div>

<hr />

<div>
  <h5>&nbsp;&nbsp;点击上面图片使用支付宝赞助我们, 只要您的金额&nbsp;<i>&gt;0元</i>&nbsp;, 都代表着您对我们的支持, 我们都会致以您同样的感谢! 您可以选择自己名字是否出现在下面的<i>网站赞助者名单</i>上, 请在付款说明中注明, 谢谢!</h5>

  <br />
  <br />
</div>

<div>

  <h4 id="names">赞助者名单</h4>
  <br />
  <table class="table table-hover">
    <thead>
    <tr>
      <th>赞助者</th>
      <td><strong>金额</strong></td>
    </tr>
    </thead>
    <tbody>
      {% for sp in sponsor %}
      <tr>
        <th>{{ sp[0] }}</th>
        <td>{{ sp[1] }}&nbsp;元</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
