{% extends "base-succeed.html" %}


{% block nav %}

  <li id="self"><a href="/succeed">个人中心</a></li>
  <li id="score"><a href="/more/1">成绩</a></li>
  <li id="all"><a href="/more/4">总成绩</a></li>
  <li id="seh"><a href="/more/3">课表</a></li>
  <li id="old-cet"><a href="/more/5">往年CET</a></li>
  <li id="time"><a href="/more/2">考试时间</a></li>
  <li id="back"><a href="/">返回首页</a></li>

{% endblock %}


{% block content %}

        <h3>学分基点计算说明：</h3>

        <p><code>学分基点=∑(课程成绩*课程学分)/应修学分</code></p>

        <h5>数据来源：</h5>

        <p class="a"><a href="http://210.44.176.116/cjcx/zcjcx_login.html">http://210.44.176.116/cjcx/zcjcx_login.html</a></p>

        <h5>计算细节：</h5>

        <ul>
            <li>全校性公选课不参与学分绩点计算</li>
            <li>选修课参与学分计算</li>
            <li>二级学分计算方法：合格：60分，不合格0分</li>
            <li>五级学分计算方法：优秀95分，良好84分，中等73分，及格62分，不及格0分</li>
            <li>双学位按照正常科目参与计算</li>
            <li>重修通过科目按照正常考试科目计算</li>
            <li>补考通过科目成绩按照六十分计算，学分按照原学分计算。</li>
            <li>重修科目一次考试未通过，补考通过计算方法相同</li>
            <li>缺考，禁考，退学，缓考，休学，作弊等成绩按0分，学分计入应修学分</li>
            <li>免修科目成绩按60分计算</li>
            <li>第一次考试成绩小于60分按0分计算,补考通过科目成绩按照六十分计算，学分计入应修学分</li>
            <li>重修科目如果重修的成绩大于原来的成绩，则按重修的成绩，原来的成绩和基点不计算在内</li>
            <li>成绩来源于学校的成绩管理系统，并不是教务处，仅包含从大一到现在的成绩</li>
            <li>计算结果仅供参考，以学校的学分基点为准。</li>
            <li>上面的计算方法如有错误，请发邮件至：ma6174#163.com (#换成@)</li>
        </ul>

        <h5>程序源码：</h5>

        <p class="a"><a href="https://github.com/ma6174/calc_GPA/blob/master/calc_GPA.py">https://github.com/ma6174/calc<em>GPA/blob/master/calc</em>GPA.py</a></p>


{% endblock %}
