<!DOCTYPE html>
<html lang="en">
<head>
    <title>我们为你Got it&middot; Got it</title>
    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="keywords" content="成绩查询,校外,正方教务系统,四六级成绩查询,学分绩点,考试时间地点,课表,本学期,查询">
    <meta name="description" content="山东理工大学校外成绩查询,学分绩点查询,四六级成绩查询.">
    <meta name="author" content="ma6174,zhwei">
    <meta property="wb:webmaster" content="0c9867e1232b2dd4"/>
    <!-- Le styles -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/index.css" rel="stylesheet">
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="/static/js/html5shiv.min.js"></script>
    <![endif]-->
    <!-- Favicons -->
    <link rel="apple-touch-icon-precomposed" sizes="256x256" href="/static/ico/favicon.png">
    <link rel="shortcut icon" href="/static/ico/favicon.png">
</head>

<body>

<div class="jumbotron">
    <div class="container">
        <h1>Got it</h1>

        <div class="words">
            <p>While the truncheon may be used in lieu of conversation , Words will always retain their power.</p>
        </div>
    </div>
</div>

<div class="navbar navbar-default index-nav">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target=".navbar-responsive-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Got it</a>
        </div>
        <div class="navbar-collapse collapse navbar-responsive-collapse">
            <ul class="nav navbar-nav">
                <li><a href="">正方</a></li>
                <li><a href="#">绩点</a></li>
                <li>
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">其他<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">图书馆余书</a></li>
                        <li><a href="#">CET</a></li>
                        <li><a href="#">往年CET成绩</a></li>
                    </ul>
                </li>
                <li><a href="#">公告</a></li>
                <li><a href="#">留言</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">关于<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">联系我们</a></li>
                        <li class="divider"></li>
                        <li><a href="#">API</a></li>
                        <li><a href="http://bootswatch.com/flatly/">bootswatch</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
<!--nav end-->

<div class="container index-body">
    <div class="alert alert-dismissable alert-info">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <strong>Heads up!</strong> This <a href="#" class="alert-link">alert needs your attention</a>, but it's not
        super important.
    </div>
    <div>
        <div class="col-lg-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">正方教务系统</h3>
                </div>
                <div class="panel-body">
                    <p>查询本学期最新成绩, 最新课表, 考试时间</p>
                </div>
                <div class="panel-footer">
                    <a href="/zheng" class="btn btn-default btn-block">Go</a>
                </div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">CET</h3>
                </div>
                <div class="panel-body">
                    <p>四六级最新成绩查询</p>
                </div>
                <div class="panel-footer">
                    <a href="/zheng" class="btn btn-default btn-block">Go</a>
                </div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Former CET</h3>
                </div>
                <div class="panel-body">
                    <p>往年四六级成绩, 痛定思痛!</p>
                </div>
                <div class="panel-footer">
                    <a href="/zheng" class="btn btn-default btn-block">Go</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">微信公众帐号</h3>
                </div>
                <div class="panel-body">
                    <p>微信公众帐号, 成绩查询, 方便快捷, 一目了然!</p>
                </div>
                <div class="panel-footer">
                    <a href="/zheng" class="btn btn-default btn-block">Go</a>
                </div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">图书馆</h3>
                </div>
                <div class="panel-body">
                    <p>在图书馆借了哪些书, 超期了没有?</p>
                </div>
                <div class="panel-footer">
                    <a href="/zheng" class="btn btn-default btn-block">Go</a>
                </div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">公益404</h3>
                </div>
                <div class="panel-body">
                    <p>您访问的页面找不回来了！ 但我们可以一起寻找失踪宝贝</p>
                </div>
                <div class="panel-footer">
                    <a href="/zheng" class="btn btn-default btn-block">Go</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">绩点 总成绩 </h3>
                </div>
                <div class="panel-body">
                    <p>查询入学以来所有成绩,包括第二专业和补考成绩以及平均学分绩点.</p>
                </div>
                <div class="panel-footer">
                    <a href="/zheng" class="btn btn-default btn-block">Go</a>
                </div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">网站赞助者</h3>
                </div>
                <div class="panel-body">
                    <p>您的每一分钱都会让<strong>Gotit</strong>做的更好!</p>
                </div>
                <div class="panel-footer">
                    <a href="/zheng" class="btn btn-default btn-block">Go</a>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="footer">
    <a class="logoimg" href="/zheng"><img src="/static/ico/favicon.png" alt=""/></a>
</div>
<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/stick-up.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script type="text/javascript">
    //initializing jQuery
    jQuery(function ($) {
        $(document).ready(function () {
            //enabling stickUp on the '.navbar-wrapper' class
            $('.navbar-default').stickUp();
        });
    });

</script>
</body>
</html>
