{% extends "base-search.html" %}
{% block title %}Got it--正方教务系统查询工具{% endblock %}
{% block header %}
    <style type="text/css">
      body {
        padding-top: 40px;
        padding-bottom: 40px;
        background-color: #f5f5f5;
      }
      .form-signin {
        max-width: 400px;
        padding: 19px 29px 29px;
        margin: 0 auto 20px;
        background-color: #fff;
        border: 1px solid #e5e5e5;
        -webkit-border-radius: 5px;
           -moz-border-radius: 5px;
                border-radius: 5px;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
           -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
                box-shadow: 0 1px 2px rgba(0,0,0,.05);
      }
      .form-signin .form-signin-heading,
      .form-signin .checkbox {
        margin-bottom: 10px;
      }
      .form-signin input[type="text"],
      .form-signin input[type="password"] {
        font-size: 16px;
        height: auto;
        margin-bottom: 15px;
        padding: 7px 9px;
      }
    </style>
  
{% endblock %}
{% block content %}
    <center><h1>正方教务系统查询工具</h1></center>
    <hr>
    <form name="main" method="post" accept-charset="utf-8" class="form-signin">
      <div class="alert alert-success">
      <h4>现可查第二专业成绩和补考成绩-<a href="/score">成绩</a></h4>
      </div>
      <br>
      {% if not form.valid %}
      <p class="alert alert-danger">输入错误:</p>
      {% endif %}
      {{ form.render() }}
      <center>
        <button type="submit" class="btn btn-primary">查询</button>&nbsp;
        <button type="reset" class="btn">重置</button>
      </center>
    </form>
  
{% endblock %}
