{% extends "base-index.html" %}

{% block title %}
个人主页
{% endblock %}

{% block nav %}
<li><a href="/">首页</a></li>
  <li class="active"><a href="">个人主页</a></li>
<li><a href="/notice.html">公告</a></li>
<li><a href="/comment.html">留言</a></li>
<li><a href="/donate.html">赞助</a></li>
{% endblock %}

{% block content %}

<h2>查询更多</h2>


<div class="row-fluid marketing">
  <div class="span6">
    <div class="well" onclick="location.href='/more/1/{{ time_md5 }}';" style="cursor:pointer;">
      <h4><a href="/zheng">本学期课表 成绩 考试时间</a></h4>
      <p>查询本学期课表 成绩以及考试时间.</p>
      {% if alert %}
      <div class="alert alert-info">
        <p>{{ alert }}</p>
      </div>
      {% endif %}
    </div>
    <div class="well" onclick="location.href='/cet';" style="cursor:pointer;">
      <h4><a href="/cet">四六级成绩查询</a></h4>
      <p>刚刚考完的四六级成绩出来了!!从这里可以查询!!!.</p>
    </div>
  </div>

  <div class="span6">
    <div class="well" onclick="location.href='/score';" style="cursor:pointer;">
      <h4><a href="/score">总成绩 学分绩点</a></h4>
      <p>查询入学以来所有成绩,包括第二专业和补考成绩以及平均学分绩点.</p>
    </div>
  </div>
  <div class="span6">
    <div class="well" onclick="location.href='/donate.html#names';" style="cursor:pointer;">
      <h4><a href="/donate.html#names">网站赞助者名单</a></h4>
      <p>您的每一分钱都会让<strong>Gotit</strong>做得更好!</p>
    </div>
  </div>
</div>


{% endblock %}
