{% extends "base-index.html" %}
{% block title %}公告--Got it{% endblock %}

{% block head %}
    <style xmlns="http://www.w3.org/1999/html">
        html, body {
            background-color: #ffffff;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="col-md-9 center">
        <h1>网站公告</h1>
        <hr/>
        <div class="list-group">

            {% for new in news %}
                <div class="list-group-item">
                    <div>
                    {{ new.content }}
                    </div>
                    <div class="well well-sm">
                        <i class="glyphicon glyphicon-paperclip"></i>&nbsp;<strong>Status: </strong>
                        <i class="glyphicon glyphicon-user"></i><abbr title="http://zhangweide.cn/">zhwei</abbr>
                        <i class="glyphicon glyphicon-calendar"></i>{{ new.datetime.strftime('%Y-%m-%d') }}
                    </div>
                </div>
                <div class="clearfix"><br/></div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
