{% extends "base-index.html" %}
{% block title %}公告--Got it{% endblock %}

{% block nav %}
<li><a href="/">首页</a></li>
<li class="active"><a href="#">公告</a></li>
<li><a href="/comment.html">留言</a></li>
<li><a href="/donate.html">赞助</a></li>
{% endblock %}

{% block content %}
<h2>网站公告</h2>
  {% for new in news %}
  <div>
    {{ new.content }}
    <p>
      <i class="glyphicon glyphicon-paperclip"></i>&nbsp;<strong>发布状态</strong>
      <p><i class="glyphicon glyphicon-user"></i>&nbsp;
      <abbr title="http://zhangweide.cn">zhwei</abbr>&nbsp;
        <i class="glyphicon glyphicon-calendar"></i> {{ new.datetime }}</p>
    </p>
  </div>
  <div class="clearfix"></div>
  {% endfor %}
</ul>
{% endblock %}
