{% extends "base-panel.html" %}

{% block content %}

  {% if opera %}

    <legend>{{ opera }} - {{ item }}</legend>
    {% if opera == 'cr' %}
      <form action="" method="POST" class="form-horizontal" role="form">
          <fieldset>
              {% if item == 'donate' %}
                {{ form.input(name='name', label='捐赠人') }}
                {{ form.input(name='much', label='金额') }}
              {% else %}
                  <div class="form-group">
                    <label>内容</label>
                    <p><input type="text" name="key" class='form-control' placeholder="The Key" /></p>
                    <p><textarea name="content" id="editor" class="form-control" placeholder="Enter your text .."></textarea></p>
                    <p class="help-block"></p>
                  </div>
              {% endif %}
          </fieldset>
          {{ form.submit(value="提交") }}
      </form>
    {% elif opera == 'info' %}
      <p><a href="/manage/single/cr" class='btn btn-default'>Create</a></p>
      <table class='table table-hover'>
      <thead><tr class="active">
          <th>Title</th>
          <th>Content</th>
          <th>Do</th>
      </tr></thead>
        <tbody>
        {% for single in single_list %}
            <tr>
                <th>{{ single[0] }}</th>
                <td>{{ single[1] }}</td>
                <td>
                    <a class="btn btn-default btn-mini" href=""><i class="glyphicon glyphicon-edit"></i></a>
                    <a class="btn btn-default btn-mini" href="/manage/single/del/{{ single[0] }}"><i class="glyphicon glyphicon-remove"></i></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
      </table>
    {% elif opera == 'del' %}
    <div class="lead">
      <br /><br />
      <form method="post">
        <p class='lead'>是否确认删除？</p>
        <input type="hidden" name="oid" value="{{ oid }}"  />
        <div class="clearfix"></div>
        <div class="btn-group">
          <a onclick="location.href=document.referrer;" class="btn btn-default"><i class="glyphicon glyphicon-arrow-left"></i>&nbsp;返回</a>
        </div>
        <div class="btn-group">
          <input type="submit" value="确认" class="btn btn-danger" />
        </div>
      </form>
    </div>
    {% endif %}
  {% else %}
    <h2>welcome administrator</h2>
  {% endif %}

{% endblock %}
