{% extends "base-panel.html" %}

{%- block content -%}

  {% if item %}

    <legend>{{ opera }} - {{ item }}</legend>
    <p><a href="/o/cr/{{ item }}" class='btn btn-default btn-block'><i class="glyphicon glyphicon-plus"></i>&nbsp;添加</a></p>
    {% if opera == 'cr' %}
      <form action="" method="POST" class="form-horizontal" role="form">
          <fieldset>
              {% if item == 'donate' %}
                {{ form.input(name='name', label='捐赠人') }}
                {{ form.input(name='much', label='金额') }}
              {% else %}
                  <div class="form-group">
                    <label>内容</label>
                    <textarea name="content" id="editor" class="form-control" placeholder="Enter your text .."></textarea>
                    <p class="help-block"></p>
                  </div>
              {% endif %}
          </fieldset>
          {{ form.submit(value="提交") }}
      </form>
    {% elif opera == 'ls' %}
      <table class='table table-hover'>
        <tbody>
        {% for l in ls %}
          <tr>
            {% if item == 'donate' %}
            <td>{{ l.name }}</td>
            <td>{{ l.much }}</td>
            <td class="hidden-xs">{{ l.datetime }}</td>
            {% elif item == 'developer' %}
            <td><span class="label label-primary">{{ l.token }}</span></td>
            <td><span class="label label-info">{{ l.day }}</span></td>
            <td><span class="label label-primary">{{ l.total }}</span></td>
            <td class='text-overflow'>{{ l.description }}</td>
            <td class="hidden-xs">{{ l.datetime.strftime('%Y-%m-%d') }}</td>
            {% elif item == 'wxcomment' %}
              <td class='text-overflow'>{{ l.content }}</td>
              <td class="hidden-xs">{{ l.datetime }}</td>
              <td><span class="label label-primary" title="{{ l.user }}"><i class="glyphicon glyphicon-user"></i></span></td>
            {% else %}
              <td class='text-overflow'>{{ l.content }}</td>
              <td>{{ l.datetime.strftime('%Y-%m-%d') }}</td>
            {% endif %}
            <td>
              <a href="/o/del/{{ item }}/{{ l._id }}" class="btn btn-default"><i class='glyphicon glyphicon-remove'></i>&nbsp;删除</a>
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    {% elif opera == 'del' %}
    <div class="lead" style="text-align: center;">
      <br /><br />
      <form method="post">
        <p class='lead'>是否确认删除？</p>
        <input type="hidden" name="oid" value="{{ oid }}"  />
        <div class="clearfix"></div>
        <div class="btn-group">
          <a onclick="location.href=document.referrer;" class="btn btn-default"><i class="glyphicon glyphicon-arrow-left"></i>&nbsp;返回</a>
        </div>
        <div class="btn-group">
          <input type="submit" value="确认" class="btn btn-danger" />
        </div>
      </form>
    </div>
    {% endif %}

  {% elif opera == 'backup' %}
  <h2 class="lead">Export or Import</h2>
  <div>
    <p class="lead">Export</p>
    <p><a href="/backup/download" class="btn btn-default"><i class="glyphicon glyphicon-cloud-download"></i>&nbsp;导出备份</a></p>
<!--               <p class="lead">Import</p> -->
<!--               <form method="post" action="">
      <p><input type="file" name="myfile" /></p>
      <p><button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-cloud-upload"></i>&nbsp;导入</button></p>
    </form> -->
  </div>

  {% elif opera == 'readlog' %}
  <h2 class="lead">网站日志</h2>
  <p>
    <a href="./1" class='btn btn-default'>最后50行</a>
    <a href="./2" class='btn btn-default'>最后100行</a>
    <a href="./3" class='btn btn-default'>最后150行</a>
    <a href="./4" class='btn btn-default'>最后200行</a>
  </p>
  <div>
    <pre>
      {% for line in lines %}{{ line }}{% endfor %}
    </pre>
  </div>
  {% elif opera == 'analytics' %}
    <h2>数据统计</h2>
    <table class="table table-hover">
      <thead>
      <tr>
        <th>项目</th>
        <th>次数</th>
        <th>置零</th>
      </tr>
      </thead>
      {% for d in data -%}
      <tr>
        <th>{{ d }}</th>
        <td><span class='label label-primary'>{{ data[d] }}</span></td>
        <td>
          {%- if d in ("InternalError", "Cache") -%}
          <a href="?zero={{ d }}" class="btn btn-sm btn-default">置零</a>
          {%- endif -%}
        </td>
      </tr>
      {%- endfor %}
    </table>
  {% elif opera == 'detail_error' %}
  <h2>Detail Errors</h2>
  <hr>
  {% if hkey -%}
  <p><a href="{{ hkey }}/del" class="btn btn-default">Delete</a>
      <a href="/de/{{ key }}/clear/clear" class="btn btn-default">Clear</a></p>
  {%- endif %}
    {%- if key_list and not hkey -%}
        <ul>
        {% for per in key_list %}
          <li><a href="{% if key %}/de/{{ key }}/{{ per }}{% else %}/de/{{ per }}{% endif %}">{{ per }}</a></li>
        {% endfor %}
        </ul>
    {% endif %}
    {% if hkey %}
      <div>
        {{ content }}
      </div>
    {% endif %}
  {% else %}
    <h2>欢迎你, 网站管理员!</h2>
    <p class="lead">请谨慎操作!</p>
    <hr>
    <div class="progress progress-striped active">
      <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
        <span class="sr-only">40% Complete (success)</span>
      </div>
    </div>
    <div class="progress progress-striped active">
      <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
        <span class="sr-only">20% Complete</span>
      </div>
    </div>
    <div class="progress progress-striped active">
      <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
        <span class="sr-only">60% Complete (warning)</span>
      </div>
    </div>
    <div class="progress progress-striped active">
      <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
        <span class="sr-only">80% Complete (danger)</span>
      </div>
    </div>
  {% endif %}
{%- endblock %}

{%- block footer -%}
    {% if item %}
      <script src="http://7d9koh.com1.z0.glb.clouddn.com/jquery.qeditor.js"></script>
      <script>
      $("#editor").qeditor({});
      </script>
    {% endif %}
{% endblock %}
