{% extends 'base-index.html' %}

{% block title %}微信公众账号{% endblock %}

{% block head %}
    <style>
    html, body {
        background-color: #ffffff;
    }
    </style>
{% endblock %}

{% block content %}

    <div class="center col-md-9">

        <h2>微信公众账号, 欢迎使用！</h2>
        {% if alert.wechat %}
        <div class="alert alert-dismissable alert-info">
            <button type="button" class="close" data-dismiss="alert">×</button>
            {{ alert.wechat }}
        </div>
        {% endif %}
        <div class="jumbotron text-center">
            <p><img class="img-thumbnail img-responsive" src="http://7d9koh.com1.z0.glb.clouddn.com/gotit_weixin_258.jpg" alt="微信二维码图片"></p>
        </div>

        <div>
            <p class="lead">微信公众账号上线啦！欢迎大家使用！谢谢支持！</p>

            <p>可以通过扫描上方的二维码或者搜索公众账号<span class='label label-default'>Gotit_asia</span>关注我们。</p>

            <p>现在仅支持各种成绩查询，暂不支持课表查询。</p>

            <p>很多同学都建议开一个微信公众账号，折腾了几天，现在算是正式上线啦！或许会有些bug，但希望能得到大家的谅解，当然更希望大家能通过微信留言给我，我将尽快处理，谢谢大家的支持！</p>

            <p>Ps: 验证码依旧很鸡肋，实在没找到好的展示方式，只能通过图文信息了，希望大家能耐心阅读微信提示。</p>

            <p class="well well-sm"><abbr title="http://zhangweide.cn">zhwei</abbr></p>
        </div>
    </div>

{% endblock %}

