{% extends 'base-index.html' %}

{% block title %}聪明人都在用的购物神器，你造吗？{% endblock %}

{% block head %}
    <style>
        html, body {
            background-color: #FFFFFF;
        }
        .download {
            text-align: center;
        }
        .download img{
            max-width: 100%;
        }
    </style>
{% endblock %}

{% block content %}

    <div class="center col-md-9">
        <div class="panel panel-danger">
            <div class="panel-heading">
                <h3 class="panel-title">折800来理工大了！</h3>
            </div>
            <div class="panel-body">
                <ul>
                    <li>淘宝天猫9.9元包邮，藏不住的诱惑就在折800校园版！</li>
                    <li>所有商品都是跟淘宝卖家斗智斗勇砍价而来，吐血推荐！业界良心呐有木有！~</li>
                    <li>神马都有，款款包邮,优惠根本停不下来！这些...来自星星的你知道吗？</li>
                    <li>聪明人都在用的网购神器。</li>
                </ul>
            </div>
        </div>
        <div class="panel panel-danger">
            <div class="panel-body">
                <img src='http://gotit.qiniudn.com/img/zhe800-99.jpg' alt="全场9.9/19.9封顶"
                     style="max-width: 100%;border-radius: 4px;"/>
            </div>
        </div>
        <div class="panel panel-warning">
            <div class="panel-heading">
                <h3 class="panel-title">特色功能！</h3>
            </div>
            <div class="panel-body">
                <ul style="list-style-type: decimal;">
                    <li>“职业砍价师”心黑手狠帮您砍价低至1折</li>
                    <li>“职业验货师”9大工序帮您验货，经得起千锤百炼</li>
                    <li>“职业选款师”帮您从万千淘宝商品中精挑细选</li>
                    <li>“开卖提醒”让你不再错过开卖时机</li>
                    <li>“值得逛”网罗世间潮品，凸显你的品位</li>
                    <li>“轻松赚积分”签到、下单、推荐好友购买均可获得积分</li>
                    <li>“积分当钱花”免费兑换上百种商品，抽奖、拍卖玩不停</li>
                </ul>
            </div>
        </div>
        <div class="panel panel-danger">
            <div class="panel-heading">
                <h3 class="panel-title">快去抢购！</h3>
            </div>
            <div class="panel-body download">
                <div class="row">
                    <div class="col-md-5">
                        <p><img src="http://gotit.qiniudn.com/img/zhe800-qrcode.png" alt="折800二维码" style="text-align: center;" /></p>
                    </div>
                    <div class="col-md-5" style="margin-top: 10%;margin-left: 7%;">
                        <p><img src="http://gotit.qiniudn.com/img/zhe800-logo.jpg" alt=""/></p>
                        <p><a href="http://campus.tuan800.com/campus/promotion/download/zhe800/431332.apk"
                              class="btn btn-block btn-danger">点击下载</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">联系我们</h3>
            </div>
            <div class="panel-body">
                <ul>
                    <li>我们每一次的进步，都离不开您的关注和支持，非常期待您向我们说出使用中的任何不爽和建议 ！</li>
                    <li>在抢购购物中遇到问题？第一时间帮您解决问题</li>
                    <li>想每天参与更多的折扣精品抢购？请加<strong>“理工大折800”</strong>QQ群：<strong>320474155</strong></li>
                </ul>
            </div>
        </div>
    </div>


{% endblock %}
