{% extends "base-search.html" %}
{% block title %}
公告--Got it
{% endblock %}

{% block content %}
<h2>网站公告</h2>
<ul class="unstyled">
  <li>
  <a href="/notice.html"><img src="/static/forad.jpg"></a>
  <blockquote class="pull-right">
    <p>gotit自开发以来一直以服务校内同学们日常查询方便为己任,期间也曾出现过各种bug,不过我们的成员都在尽量短的时间内修复了, 为了降低网站的运营成本,这段时间一直挂着淘宝联盟的广告,不过由于淘宝按照交易成交率计费,所以效果并不理想,现在决定面向学校进行广告招商,本网站日浏览量最少1000以上,成绩公布期间日浏览量过万,宣传效果绝对超过贴小报或者发传单, 有意向的同学可以邮件联系<a href="mailto:zhwei@gotit.asia">zhwei</a>,其他联系方式见<a href="/contact.html">联系我们</a></p>
    <h3>网站pv图: <a href="/static/1.png">图一</a><a href="/static/2.png">图二</a></h3>
    <small>zhwei -- 2013.3.6-21:48</small>
  </blockquote>
  </li>
  <li>
  <blockquote class="pull-left">
    <p>Got it 添加成绩查询系统,可供同学查询入学后所有成绩,包括第二专业和补考成绩. 本系统不同于首页的成绩查询功能,首页只能查询本学期的第一专业成绩,不能查询补考成绩,不过本系统成绩更新较慢,不能实时更新最新第一次考试成绩,当然补考成绩除外,欢迎同学们的使用!<a href="/score">查询链接</a></p>
    <small>zhwei -- 2013.3.5-22:53</small>
  </blockquote>
  </li>
  <li>
  <blockquote class="pull-right">
    <p>网站最新改版,现在比以前速度应该要快一点,欢迎使用,现在部署在apache上,github上的45分支.</p>
    <small>zhwei -- 2013.3.3-15:50</small>
  </blockquote>
  </li>
  <li>
  <blockquote class="pull-left">
    <p>网站新增四六级成绩查询功能, 当然啦, 到现在为止成绩还没有公布, 估计在二月底到三月初吧, 敬请期待吧, 希望大家都能得到满意的成绩单, <a href="http://gotit.asia/cet">查询链接</a>.</p>
    <small>zhwei -- 2013.1.14-00:14</small>
  </blockquote>
  </li>
  <li>
  <blockquote class="pull-right">
    <p>昨天晚上网站出现大量<strong> System is Busy!!!</strong>, 由于前几次在过一段时间后都能正常使用没有引起太大的重视, 晚上回宿舍后详细检查了下,主要原因是前几天使用的正方教务系统的链接失效了, 登录后内容为乱码, 无法正常抓取到信息, 然后挑灯夜敲, 现在网站已经能够正常服务了, 非常感谢各位同学的支持, 貌似昨天晚上十二点的时候还有同学在查成绩......感谢你们的支持, 我们会将 <strong>Got it</strong>做到最好!</p>
    <small>zhwei -- 2013.1.11-00:30</small>
  </blockquote>
  </li>
  <li>
  <blockquote class="pull-left">
    <p>本网站用于方便山理的同学们使用校外网或者在家里查成绩等其他信息,由于本网站涉及同学们的个人信息安全, 本人特此保证:绝不使用非法手段窃取同学们的帐号密码或者其他相关隐私内容, 本网站源码将在整理后托管在<a href="https://github.com/zhwei/zhengfang" target="_blank">github</a>, 有能力的同学可以自行检查, 当然也希望有能力的同学提出好的建议或者需求, 也可以在<a href="https://github.com/zhwei/zhengfang" target="_blank">github</a>上直接提交修改后的源码, 我将整合在本网站中. </p>
    <p>由于网站搭建较为匆促, 不管前台还是后台都比较粗糙, 现在是python编写, 使用web.py框架,以后会陆续增加其他功能, 比如一键好评老师等等, 只有想不到没有做不到, 还有<a href="http://www.cnblogs.com/fuyunbiyi" target="_blank">浮云比翼</a>同学的移动客户端,后续功能的开发暂定寒假时间吧, 现在先准备考试了^_^</p>
    <small>zhwei</small>
  </blockquote>
  </li>
  <li>
  <blockquote class="pull-right">
    <p>当出现<strong>System is Busy!!!</strong>时是因为正方教务系统未正常运行,非本网站原因.</p>
    <small>zhwei</small>
  </blockquote>
  </li>
  <!--         <li>
  <blockquote>
    <p></p>
    <small></small>
  </blockquote>
  </li> -->
</ul>
{% endblock %}
